
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .navbar {
            background-color: #28a745;
            padding: 10px;
            text-align: center;
        }
        .navbar a, .navbar button {
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 18px;
            margin: 0 10px;
            border: none;
            background: none;
            cursor: pointer;
        }
        .navbar a:hover, .navbar button:hover {
            background-color: #155508;
            border-radius: 5px;
        }
        .container {
            padding: 20px;
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #28a745;
            color: white;
        }
        #summary, #dailyReport {
            display: none;
            padding: 20px;
            text-align: left;
        }
        button {
            padding: 10px;
            margin-top: 10px;
            background-color: #1e5807;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #c82333;
        }
        .copy-btn {
            background-color: #007bff;
        }
        .copy-btn:hover {
            background-color: #0056b3;
        }